---
const { project } = Astro.props;
---

<a
  href={`/projects/${project.slug}`}
  class="project-card"
  data-project={project.slug}
>
  <div
    class="list border-t border-black  grid grid-cols-4 items-end  hover:bg-stone-100"
  >
    <img src={project.image} alt={project.client} />

    <div class="px-4 py-4">
      <h3 class="black">Who?</h3>
      <h3 class="">{project.client}</h3>
    </div>

    <div class="px-4 py-4">
      <h3 class="black">What?</h3>
      <h3 class="">{project.case}</h3>
    </div>

    <div class="px-4 py-4">
      <h3 class="black">When?</h3>
      <h3 class="">{project.date}</h3>
    </div>
  </div>
</a>

<style>
    .black{
        font-weight: 900;
    }
  .project-card {
    position: relative;
    display: block;
  }

  .project-card img {
    width: 100%;
    height: 180px;
    display: block;
    filter: invert(0);
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: filter 0.4s ease;
  }

  .project-card:hover img,
  .project-card.active img {
    filter: invert(100);
  }

  .overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .project-card:hover .overlay,
  .project-card.active .overlay {
    opacity: 1;
  }
</style>
