---
const { project } = Astro.props;
---

<a
  href={`/projects/${project.slug}`}
  class="project-card"
  data-project={project.slug}
>
  <div
    class="list grid grid-cols-4 items-end border-t border-[#191817] transition-colors duration-300 hover:bg-stone-100 dark-hover"
  >
    <img src={project.image} alt={project.client} />

    <div class="px-4 py-4">
      <h3 class="bold">Who?</h3>
      <h3>{project.client}</h3>
    </div>

    <div class="px-4 py-4">
      <h3 class="bold">What?</h3>
      <h3>{project.case}</h3>
    </div>

    <div class="px-4 py-4">
      <h3 class="bold">When?</h3>
      <h3>{project.date}</h3>
    </div>
  </div>
</a>

<style>
.bold {
  font-weight: 900;
}

.project-card {
  position: relative;
  display: block;
}

.project-card img {
  width: 100%;
  height: 180px;
  display: block;

  aspect-ratio: 1/1;
  object-fit: cover;

  transition:
    filter 0.4s ease,
    opacity 0.4s ease;
}


.project-card:hover img {
  opacity: 0.9;
}

html.dark .list {
  border-color: rgba(255,255,255,0.15);
}

html.dark .dark-hover:hover {
  background: rgba(255,255,255,0.05);
}
</style>
